/* div progress{
    display: block;
}
.test{
    cursor: wait;
} */

/* .parent{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    align-items:center;
    flex-wrap: wrap;
}
.child1{
    padding: 50px;
    background: green;
    font-size: 25px;
    font-weight: bold;
    color: white;
    order: 3;
    flex-grow: 2;
}
.child2{
    padding: 50px;
    background: red;
    font-size: 25px;
    font-weight: bold;
    color: white;
    order: 2;
    flex-grow: 2;
}
.child3{
    padding: 50px;
    background: blue;
    font-size: 25px;
    font-weight: bold;
    color: white;
    order: 1;
} */
* {
    margin: 0;
    padding: 0;
}

span {
    color: red;
}
.btn {
    padding: 15px 35px;
    border: none;
    font-size: 18px;
}

/* nav section styles */
.nav-container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background: #585858;
    color: white;
}

.item {
    display: inline-block;
    list-style: none;
    font-size: 22px;
    padding: 5px;

    margin-right: 10px;
}

.item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* banner section */
.banner-container {
    height: 100vh;
    width: 100%;
    background: url(../asset/image/background.jpg) no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;

}

.banner-paragragraph {
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.btn-discover {
    background-color: #ff0000;
    color: #ffffff;
    margin-right: 10px;
}

.btn-here {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}